<!DOCTYPE html>
<html>
	<head>
		<link rel="favicon" href="/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<title>THE URL Shortener</title>
	</head>
	
	<body>
		<%= yield %>
	</body>

</html>